<configuration>

    <contextName>tesla</contextName>


    <conversionRule conversionWord="mescaped"
                    converterClass="de.otto.tesla.util.escapingmessageconverter" />

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss,SSS} %-5p %c{5} %t "%mescaped"%n</pattern>
        </encoder>
    </appender>


    <root level="${log_level:-info}">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="jsonAppender"/>
    </root>

</configuration>
